
<h1>map</h1>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->


<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker
      *ngFor="let plantPin of allPins; let i = index"
      (markerClick)="clickedMarker(plantPin.name, i)"
      [latitude]="plantPin.latitude"
      [longitude]="plantPin.longitude">
<!--
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
          <ng-template>
            Snazzy Info Window!
          </ng-template>
        </agm-snazzy-info-window> -->

    <agm-info-window>
      <h3>{{plantPin.name}}</h3>
      <p>{{plantPin.description}}</p>
      <img [src]="plantPin.imageUrl" />
    </agm-info-window>

  </agm-marker>

</agm-map>