<div id="map-container-2" class="z-depth-1" style="height: 500px">

    <agm-map
    [latitude]="plantPinServ.getMapLat()"
    [longitude]="plantPinServ.getMapLng()"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="newPin($event)">


    <agm-marker
        *ngFor="let plantPin of allPins; let i = index"
        [latitude]="plantPin.latitude"
        [longitude]="plantPin.longitude">


      <agm-info-window class="gm-style gm-style-iw">
        <h5>{{plantPin.name}}</h5>
        <p>{{plantPin.description}}</p>
        <img [src]="plantPin.imageUrl" style="height: 150px; width: 150px" />
        <br/>
        <span *ngIf="myAuthServ.currentUser">
            <!-- <a routerLink="/favorites-add" class="button">❤️</a><br> -->
            <a (click)="addToFavorites(plantPin._id)" class="btn btn-light btn-sm">
                <img [src]="favoriteIcon" style="height: 18px; width: 20px">
            </a>
            <!-- <span class="glyphicon glyphicon-heart" (click)="addToFavorites(plantPin._id)" aria-hidden="true"></span> -->
            <a [routerLink]="['/comments', plantPin._id]" class="btn btn-light btn-sm">
              <img [src]="commentIcon" style="height: 20px; width: 20px"></a>
            <a [routerLink]="['/allPins', plantPin._id]" class="btn btn-light btn-sm">Details</a>

        </span>
      </agm-info-window>

    </agm-marker>

    <agm-marker
        *ngIf="clickPin"
        [latitude]="clickPin.lat"
        [longitude]="clickPin.lng"></agm-marker>

  </agm-map>

</div>

