<div id="map-container-2" class="z-depth-1" style="height: 500px">

    <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false">

    <agm-marker
        *ngFor="let plantPin of allPins; let i = index"
        (markerClick)="clickedMarker(plantPin.name, i)"
        [latitude]="plantPin.latitude"
        [longitude]="plantPin.longitude">


      <agm-info-window>
        <h5>{{plantPin.name}}</h5>
        <p>{{plantPin.description}}</p>
        <img [src]="plantPin.imageUrl" style="height: 150px;" />
        <span *ngIf="myAuthServ.currentUser">
            <a [routerLink]="['/allPins', plantPin._id]" class="button">Details</a><br>
            <!-- <a routerLink="/favorites-add" class="button">❤️</a><br> -->
            <a (click)="addToFavorites(plantPin._id)">❤️</a><br>
            <a routerLink="/comments-add" class="button">Comment</a>
        </span>
      </agm-info-window>

    </agm-marker>

  </agm-map>

</div>

