.container {
  border: solid 1px #000;
  display: flex;
  justify-content: left
}

.form {
  border: solid 1px #000;
  width: 50%
}

.map-component {
  border: solid 1px #000;
  width: 600px;
  height: 600px;

}