<div class="container" style="text-align: center">

  <div class="form">
      <h2>Post your findings</h2>

      <p>share the wealth!</p>

      <form (ngSubmit)="plantPinSubmit()" >
        <label>
          <!-- Plant name: -->
          <input [(ngModel)]="userForm.name" name="plantName" type="text" placeholder="name of plant">
        </label>
        <br />

        <label>
          <!-- Description: -->
          <textarea [(ngModel)]="userForm.description" name="description" type="text" placeholder="Detailed description" class="form-control" rows="5" id="comment" style="width: 200px"></textarea>

        </label>
        <br />

        <label>
          <!-- Image URL: -->
          <input [(ngModel)]="userForm.imageUrl" name="imageUrl" type="text" placeholder="paste image URL">
        </label>
        <br />

          <label>
              <!-- latitude: -->
              <input [(ngModel)]="plantPinServ.latitude" name="latitude" type="number" placeholder="latitude" />
            </label>
            <br />

            <label>
                <!-- longitude: -->
                <input [(ngModel)]="plantPinServ.longitude" name="longitude" type="number" placeholder="longitude" />
              </label>
              <br />

        <button>Post this plant</button>
      </form>

  </div>

    <div class="map-component">
        <app-map></app-map>
    </div>

</div>

