<div class="container" style="width: 30%; margin: 0 auto; text-align: center">

<h2>Log In</h2>

<form (ngSubmit)="loginSubmit()">
  <label>
    Email:
    <br/>
    <input [(ngModel)]="loginForm.email" type="email" name="email" placeholder="email address" />
  </label>
  <br />

  <label for="">
    Password:
    <br/>
    <input [(ngModel)]="loginForm.loginPassword" type="password" name="loginPassword" placeholder="top secret" />
  </label>
  <br />

  <button class="button">Log In</button>
</form>

</div>