<header>
  <h1>weedmapper</h1>

  <nav>
    <a routerLink="">Home</a>
    <a routerLink="/about" class="button">About</a>
    <a routerLink="/map" class="button">Search</a>

    <span *ngIf="!myAuthServ.currentUser">
        <a routerLink="/signup" class="button">Post</a>
        <a routerLink="/login" class="button">Log In</a>
        <a routerLink="/signup" class="button">Sign Up</a>
    </span>

    <span *ngIf="myAuthServ.currentUser">
      <b>Welcome back, {{myAuthServ.currentUser.username}}! </b>
      <a routerLink="/plantPin/add" class="button">Post</a>
      <a routerLink="/favorites" class="button">Favorites</a>
      <button   (click)="logoutClick()" class="button">Log out</button>
    </span>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Made with ✈️ at Ironhack</p>
</footer>
