<div class="container" style="text-align: center">

<div class="left">

    <!-- <app-comments *ngIf="plantPinServ.clickedPlantPinId"></app-comments> -->

    <h2>Recently Posted</h2>

    <div class="card-deck mb-3 text-center">
        <ul *ngFor="let onePin of allPins">
          <div class="card mb-4 box-shadow" style="width: 12rem;">
                <!-- <div class="view overlay">
                <div class="card-img-top" style="background-image: '[src]=onePin.imageUrl'"></div>
               </div> -->
          <img [src]="onePin.imageUrl" style="height: 12rem;" class="card-img-top">
            <div class="card-body">
                <p class="card-text">{{onePin?.name}}</p>
                <p class="card-text">{{onePin?.description}}</p>

                <span *ngIf="myAuthServ.currentUser">
                <a (click)="addToFavorites(onePin._id)" class="btn btn-light btn-sm"><span class="glyphicon glyphicon-heart"></span>❤</a>
                <a [routerLink]="['/comments', onePin._id]" class="btn btn-light btn-sm">
                    <img [src]="commentIcon" style="height: 20px; width: 20px">
                </a>
                <a [routerLink]="['/allPins', onePin._id]" class="btn btn-light btn-sm">Details</a>
                </span>
            </div>
          </div>
          </ul>
    </div>
</div>

<div class="map-component">
    <app-map></app-map>

</div>


