  <div class="body text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a class="masthead-brand" style="" href="/">#weedmapper</a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/map-page">Search</a>
            <a class="nav-link" href="/login">Post</a>
            <a class="nav-link" href="/login">Log In</a>
            <a class="nav-link" href="/signup">Sign Up</a>
          </nav>
        </div>
      </header>



      <main role="main" class="inner cover">
        <h1 class="cover-heading">weedmapper</h1>
        <p class="lead">find free, locally-sourced, nutrient-dense REAL food near you!</p>

        <div class="centerer">
          <div class="search-wrapper">
            <div class="form-group" id="pac-container">
            <input #searchTag id="pac-input" type="text" class="form-control mr-sm-2" placeholder="Enter a location">
            </div>
          </div>
        </div>

        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p> -->
      </main>
    </div>
    </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <h3 class="display-5">Recent findings:</h3>
    </div>
    <div class="card-deck mb-3 text-center">
        <ul *ngFor="let onePin of allPins">
          <div class="card mb-4 box-shadow" style="width: 12rem;">
                <!-- <div class="view overlay">
                <div class="card-img-top" style="background-image: '[src]=onePin.imageUrl'"></div>
               </div> -->
          <img [src]="onePin.imageUrl" style="height: 12rem;" class="card-img-top">
            <div class="card-body">
                <h5 class="card-text">{{onePin?.name}}</h5>
                <p class="card-text">{{onePin?.description}}</p>
            </div>
          </div>
          </ul>
    </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Footer</p>
        </div>
      </footer>
