<div class="form-group">

<form (ngSubmit)="leaveComment()">
    <label for="comment">Leave a comment:</label>
          <br/>
          <textarea [(ngModel)]="commentForm.userComment" name="userComment" placeholder="Observations about this plant" class="form-control" rows="5" id="comment" style="width: 200px"></textarea>
          <br/>
          <button>Submit</button>
</form>

<h3>{{currentPlant?.name}}</h3>
<img [src]="currentPlant?.imageUrl" alt="">


<div class="card w-50">
        <div *ngFor="let oneComment of comments">

        <div class="card-body">
          <h5 class="card-title">{{oneComment?.user.username}}</h5>
          <p class="card-text">{{oneComment?.userComment}}</p>
          <a href="#" class="btn">Reply</a>
        </div>
      </div>


